@import "variables";

//sass-lint:disable no-vendor-prefixes
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  //sass-lint:disable no-misspelled-properties
  -moz-font-smoothing: antialiased;
  //sass-lint:enable no-misspelled-properties
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

blockquote,
figure {
  margin: 0;
}

blockquote {
  .quote {
    quotes: "“" "”" "‘" "’";

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

table {
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
}

ul {
  list-style: none;
}

input {
  -webkit-appearance: none;
  outline: 0;
}
