// ---COLORS---
$c-primary: #fdc300;
$c-secondary: #000000;
$c-gray: #616161;
$c-gray-second: #bebebe;
$c-tertiary: #000000;

$c-black: #000000;
$c-white: #ffffff;
// TEXT
$line-height: 2.6rem;
$text-color: $c-black;
